{% extends 'formularioBase.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block contenido_extra %}

{% endblock %}
{% block lista_de_items_many_to_many %}
{% endblock %}
{% block titulo %}{{ titulo_formulario |upper }}{% endblock %}
{% block class_extra_card_formulario %}col-lg-10 col-md-10{% endblock %}
{% block inputs_extras %}
    <input type="hidden" name="peticion" value="{{ peticion }}"><br>
    <h5 class="text-xxl-end" >PACIENTE : {{ cita.paciente | upper }}</h5>
    <h5 class="text-xxl-end" >CI: {{ cita.paciente.persona.cedula }}</h5>
    <h6></h6>
{% endblock %}

{% block news_inputs_form %}

    <div class="row">
        <div class="input-group input-group-static my-3  ">
            {{ form2.diagnostico_previo.errors }} {{ form2.diagnostico_previo.label_tag }} {{ form2.diagnostico_previo }} {% if form2.diagnostico_previo.help_text %}
            <small id="help"
                   class="form-text text-muted">{{ form2.diagnostico_previo.help_text|safe }}</small> {% endif %}
        </div>
    </div>
    <h5 class="mt-3">ODONTOGRAMA</h5>
    <div class="row">
        <div class="col">
            <h6>Controles</h6>
            <div id="controls" class="panel panel-default">
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        <label id="fractura" class="btn btn-danger">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked>Fractura</label>
                        <label id="restauracion" class="btn btn-primary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Obturación
                        </label>
                        <label id="extraccion" class="btn btn-warning">
                            <input type="radio" name="options" id="option3" autocomplete="off"> Extracción
                        </label>
                        <label id="extraer" class="btn btn-warning">
                            <input type="radio" name="options" id="option4" autocomplete="off"> A Extraer
                        </label>
                        <label id="puente" class="btn btn-primary">
                            <input type="radio" name="options" id="option5" autocomplete="off"> Puente
                        </label>
                        <label id="borrar" class="btn btn-success">
                            <input type="radio" name="options" id="option6" autocomplete="off"> Borrar
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h6>Procedimientos</h6>
            <select name="" id="">

                <op>proce</op>
            </select>
        </div>
    </div>

    <div class="" id="odontograma">

    </div>


    <div class="row">
        <div class="input-group input-group-static my-3  ">
            {{ form2.observacion.errors }} {{ form2.observacion.label_tag }} {{ form2.observacion }}
            {% if form2.observacion.help_text %}
                <small id="help"
                       class="form-text text-muted">{{ form2.observacion.help_text|safe }}</small> {% endif %}
        </div>
    </div>



{% endblock %}
{% block nombre_boton_submit %}Guardar{% endblock %}
{% block location_href_destino %}{% url 'atender_cita' %}{% endblock %}
{% block botones_extras %}{% endblock %}

{% block modals %}
    <!-- Modal -->

{% endblock %}




{% block js %}

{% endblock %}

