<form class="form" role="form" autocomplete="off" method="post">
                            <fieldset class="form-group">
                                {% include "form_snippet.html" %}
                            </fieldset>
                            <div class="m-t-20 text-center">
                                <a type="button" class="btn btn-danger submit-btn" href="javascript:history.back()">Cancelar</a>
                                <button type="submit" class="btn btn-primary submit-btn">Cambiar Contraseña</button>
                            </div>

                        </form>